body {
  margin: 0;
  background-color: #ede0c8;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  
button {
  background: rgb(90,170,255);
  color: white;
  padding: 10px 8px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 3px 1px #bfb3b3;
}

#game-container {
  width: 90vmin;
  max-width: 500px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.score-box {
  font-size: 1.2rem;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: #bbada0;
  padding: 10px;
  border-radius: 10px;
}

.cell {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #cdc1b4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  color: #776e65;
}

.game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.game-over .message {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 0 10px #0003;
  width: 150px;
}

.hidden {
  display: none;
}


/* 不同数字颜色 */
.cell-2    { background-color: #eee4da; }
.cell-4    { background-color: #ede0c8; }
.cell-8    { background-color: #f2b179; color: white; }
.cell-16   { background-color: #f59563; color: white; }
.cell-32   { background-color: #f67c5f; color: white; }
.cell-64   { background-color: #f65e3b; color: white; }
.cell-128  { background-color: #edcf72; color: white; }
.cell-256  { background-color: #edcc61; color: white; }
.cell-512  { background-color: #edc850; color: white; }
.cell-1024 { background-color: #edc53f; color: white; }
.cell-2048 { background-color: #edc22e; color: white; }
  